site_name: hh200-docs
repo_url: https://github.com/tbmreza/hh200-docs
edit_uri: edit/main/docs/

theme:
  name: material
  features:
    - content.action.edit
  icon:
    logo: material/hand-okay

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tasklist:
      custom_checkbox: true

extra_css:
  - css/custom.css  # - Structure section tables from hurl site.
                    # - Hide repo button mainly to hide star count of docs repo.
